<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/site.css" />
</head>
<body>

    <!--{% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
    {% endfor %}-->

    <img src="data:image/png;base64, {{ plot }}" alt="Placeholder Text" height="800" width="800" />
    <br />
    <span>Training Loss: {{ t_loss }}</span>
    <br />
    <span>Training RMSE: {{ t_rmse }}</span>
    <br />
    <span>Val Loss: {{ v_loss }}</span>
    <br />
    <span>Val RMSE: {{ v_rmse }}</span>
    <br />
    <span>Number of Epochs: {{ epochs }}</span>
    <br />
    <span>Batch Size: {{ batch_size }}</span>


</body>
</html>