<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/site.css" />
</head>
<body>

<!--{% for table in tables %}
    {{titles[loop.index]}}            
    {{ table|safe }}
{% endfor %}-->
    {% for img in imgs %}
    <img src="data:image/png;base64, {{ img }}" alt="Placeholder Text" height="500" width="500" />
    {% endfor %}
    {{ table|safe }}

</body>
</html>